@page
@using System.Text;
@model Employee_Training_Portal.Pages.EmployeeModel

@{


}

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</head>

<h1 class="display-4"> Employee Training Portal</h1>
<label class="display-4">@ViewData["success"]</label>

<!-- If files exist; provide the option to delete -->
@if (Model.videoUrls != null || Model.textFiles != null)
{
    <h2>Deadline: @Model.deadline</h2>
    @foreach (var url in Model.videoUrls)
    {
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="350" height="215" class="embed-responsive-item" src="@url" allowfullscreen></iframe>
            <br><br>
        </div>
    }
    <br />
    <br />
    @foreach (var textFile in Model.textFiles)
    {

        <h2>@textFile.fileName</h2>
        <p>@System.Text.Encoding.Default.GetString(textFile.Data)</p>

    }

}

<form method="post">
    <button class="btn btn-outline-success">Done</button>
</form>

<br />
<br />
<br />
<br />
<br />
<button onclick="location.href = '/';" id="myButton" class="float-left btn btn-outline-success">Logout</button>