@page
@model Employee_Training_Portal.Pages.UploadFileModel
@{

}

<label class="display-4">Upload videos and documents</label>
<br /><br />
<label>@ViewData["Message"]</label>
<p>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="file">Select file to upload:</label>
            <input type="file" id="file" name="file" />
        </div>
        <button type="submit" name="action" value="upload">Upload</button>
    </form>
</p>

<br /><br />

<!--Uploading a video to the database using video URL -->
<p class="align-content-end">
    <form method="post" enctype="multipart/form-data">
        <div>            
            <label for="video">Provide URL for video:</label>
            <input type="url" id="url" name="url" />
        </div>
        <button type="submit" name="action" value="uploadVideo">Upload</button>
    </form>
</p>

<br /><br />

<!-- If files exist; provide the option to delete -->
@if (Model.Files != null && Model.Files.Any())
{
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.Files)
            {
                <tr>
                    <td>@file.fileName</td>
                    <td>
                        <form method="post" onsubmit="return confirm('Are you sure you want to delete this file?')">
                            <input type="hidden" name="id" value="@file.fileID" />
                            <button type="submit" name="action" value="delete">Delete</button>
                        </form>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
}
<!--Logic for video showing links-->
<!-- If video exist; provide the option to delete -->
@if (Model.videoURL != null && Model.videoURL.Any())
{
    <table>
        <thead>
            <tr>
                <th>URL Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var video in Model.videoURL)
    {
        <tr>
            <td>@video.videoURL</td>
            <td>
                <form method="post" onsubmit="return confirm('Are you sure you want to delete this video?')">
                    <input type="hidden" name="id" value="@video.videoID"/>
                    <button type="submit" name="action" value="deleteVideo">Delete</button>
                </form>
            </td>
        </tr>
    }
        </tbody>
    </table>
}